* {
    font-family: "Ubuntu", sans-serif;
    color: #222222;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-decoration: None;
    box-sizing: border-box;
    border: 0;
}

.spaceHolder {
    flex: 1 1 auto;
}

.header {
    font-size: 17px;
    text-decoration: None;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.header-logoArea {
    flex: 0 0 380px;
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-tabsArea {
    flex: 0 0 50px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.menu:hover {
    animation: jump 0.3s ease-in;
}

.tabs {
    position: absolute;
    right: 45px;
    top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tab, .activeTab {
    text-align: center;
    padding: 5px 10px;
    border: 2px solid #222222;
    border-radius: 30px;
    text-decoration: None;
    background-color: #EEEEEE;
    animation: slideIn 0.2s ease-in forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tab:hover {
    background-color: #9cdcff;
}

.activeTab {
    background-color: #9cdcff;
}

.header-gitlink {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-gitlink:hover {
    animation: jump 0.3s ease-in;
}

.contentProvider, .home {
    width: 100%;
    position: absolute;
    top: 80px;
    max-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.home-header {
    flex: 0 0 50px;
    font-family: "Georgia", sans-serif;
    color: #BBBBBB;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    padding: 50px 150px 10px 150px;
}

.home-description {
    flex: 0 0 150px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 30px 150px;
}

.navArea {
    flex: 0 0 100px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
    padding: 20px;
}

.nav {
    font-family: "Ubuntu Mono", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 30px;
    border: 3px solid #222222;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav:hover {
    filter: drop-shadow(2px 2px 1px #555555);
    transition: transform 0.1s ease-in;
    transform: scale(110%);
}

.nav img, .activeNav img {
    background-color: transparent;
}

#bubble-sort {
    background-color: #ffe671;
}

#insertion-sort {
    background-color: #78ffa9;
}

#selection-sort {
    background-color: #6bb7ff;
}

#quick-sort {
    background-color: #9cdcff;
}

#merge-sort {
    background-color: #ff8eb3;
}

#heap-sort {
    background-color: #ffdcd5;
}

.description {
    width: 100%;
    flex: 0 0 150px;
    padding: 40px 220px;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    color: #222222;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.complexity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.complexity-time, .complexity-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-style: italic;
}

.title {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

.inputArea {
    width: 100%;
    flex: 0 0 150px;
    padding: 30px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reduceButton {
    flex: 0 0 50px;
    position: fixed;
    left: 200px;
}

.addButton {
    flex: 0 0 50px;
    position: fixed;
    right: 200px;
}

.reduceButton:hover, .addButton:hover {
    animation: jump 0.3s ease-in;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.inputs {
    flex: 0 0 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputs input {
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 35px;
    margin: 0 10px 0 10px;
    border-bottom: 2px solid #222222;
}

.inputs input::-webkit-outer-spin-button,
.inputs input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputs input {
    -moz-appearance: textfield;
}

.startSortingButton {
    font-size: 15px;
    font-weight: bold;
    border: 3px solid #222222;
    border-radius: 20px;
    background-color: #ffe671;
    margin-top: 70px;
    padding: 6px 20px;
}

.startSortingButton:hover {
    filter: drop-shadow(2px 2px 1px #555555);
    transition: transform 0.1s ease-in;
    transform: scale(110%);
}

.logArea {
    flex: 0 0 120px;
    font-size: 22px;
    color: #555555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

.animationArea {
    flex: 0 0 200px;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
}

.buttonArea {
    flex: 0 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.buttonArea button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonArea img:hover {
    filter: opacity(100%);
}

.buttonArea img {
    filter: opacity(50%);
    height: 22px;
    width: 22px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 150px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #EEEEEE;
    height: 10px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -3px;
    background-color: #222222;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    filter: opacity(50%);
}

input[type="range"]:hover::-webkit-slider-thumb {
    filter: opacity(100%);
}

.squareArea {
    background-color: transparent;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 500;
}

.square {
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 44px;
    background-color: #EEEEEE;
    border: 3px solid #222222;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s ease-in;
}

.active {
    background-color: #ff8eb3;
}

.sorted {
    background-color: #78ffa9;
}

.seperated {
    margin-right: 30px;
    transition: margin-right 0.25s ease-in;
}

@keyframes rotateY {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(359deg);
    }
}

.pointer {
    animation: rotateY 1.2s ease-in-out infinite;
}

.heaped {
    padding: 0;
    gap: 0;
    transform: scale(60%);
    transform-origin: 0 0;
}

.treeChart {
    height: 200px;
    width: 418px;
    position: relative;
}

.treeGrid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.treeChart svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.treeChart line {
    stroke: #222222;
    stroke-width: 1.5;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

.treeLine {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    background-color: transparent;
}

.line-0 .item-0 {
    margin-left: 194px;
}

.line-1 .item-0 {
    margin-left: 102px;
}

.line-1 .item-1 {
    margin-left: 122px;
}

.line-2 .item-0 {
    margin-left: 56px;
}

.line-2 .item-1,
.line-2 .item-2,
.line-2 .item-3 {
    margin-left: 32px;
}

.line-3 .item-0 {
    margin-left: 30px;
}

.line-3 .item-1,
.line-3 .item-2,
.line-3 .item-3,
.line-3 .item-4,
.line-3 .item-5,
.line-3 .item-6,
.line-3 .item-7 {
    margin-left: -14px;
}

.footer {
    flex: 0 0 50px;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
}

.footer a {
    color: #146bdd;
}

.footer a:hover {
    text-decoration: underline;
}
