.layout {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    font-size: 17px;
    text-decoration: None;
    width: 100%;
    position: fixed;
    height: 50px;
    box-sizing: border-box;
    padding: 8px 15px 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentProvider {
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 20px;
    max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_logoArea {
    font-family: "Elephant", sans-serif;
    font-size: 22px;
    text-decoration: None;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header_tabArea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.header_linkArea {
    gap: 8px;
}

.tab, .activeTab {
    padding: 10px;
    border-radius: 10px;
    color: #222222;
    text-decoration: None;
}

.tab:hover {
    background-color: #EEEEEE;
}

.activeTab {
    color: purple;
    background-color: papayawhip;
}

svg {
    vertical-align: middle;
}

.description {
    padding: 20px 80px 20px 80px;
    min-height: 100px;
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    color: #222222;
    text-align: center;
}

.inputArea {
    padding: 20px 80px 20px 80px;
    height: calc(100vh - 350px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    text-align: center;
    width: 50px;
    height: 35px;
    margin: 0 10px 0 10px;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #222222;
    border-left: 0;
}

.startSortingButton {
    font-size: 18px;
    color: whitesmoke;
    border: 0;
    border-radius: 15px;
    background-color: purple;
    margin: 50px 80px 0 80px;
    padding: 5px 15px 5px 15px;
}

.startSortingButton:hover {
    background-color: darkviolet;
}

.logArea {
    font-size: 22px;
    color: #555555;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animationArea {
    height: 200px;
    padding: 30px 80px 30px 80px;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}



.buttonArea {
    display: flex;
    gap: 20px;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

.square, .activeSquare, .sortedSquare {
    top: 30%;
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    color: #222222;
    background-color: #EEEEEE;
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.8s ease-out;
}

.activeSquare {
    color: #EEEEEE;
    background-color: purple;
}

.sortedSquare {
    background-color: darkseagreen;
}

/* 
    for example:
    when swapping list[idx] and list[idx + 1]
    use js to add "animation: swapping1 0.5s ease-in-out forwards;" 
        to .square:nth-child(idx)
    and use js to add "animation: swapping2 0.5s ease-in-out forwards;"
        to .square:nth-child(idx + 1)
*/
/* ---start--- */
/* below two css are templates for swapping */

/* step 1: swap two div in sorting algo
step 2: add css to the div */

.square:nth-child(3) {
  animation: swapping1 0.5s ease-in-out forwards;
}

.square:nth-child(5) {
  animation: swapping2 0.5s ease-in-out forwards;
}

@keyframes swapping1 {
  0% {
    transform: none;
  }
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes swapping2 {
  0% {
    transform: none;
  }
  50% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0);
  }
}

/* ---end--- */

.footer {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 40px 80px 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer a {
    color: #146bdd;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
