* {
    font-family: "Ubuntu", sans-serif;
    color: #222222;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-decoration: None;
    box-sizing: border-box;
    border: 0;
}

.spaceHolder {
    flex: 1 1 auto;
}


.layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    font-size: 17px;
    text-decoration: None;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.header-logoArea {
    flex: 0 0 350px;
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.header-menu:hover {
    animation: jump 0.3s ease-in;
}

.header-gitlink {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-gitlink:hover {
    animation: jump 0.3s ease-in;
}

.tabs {
    position: absolute;
    right: 45px;
    top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tab, .activeTab {
    text-align: center;
    padding: 5px 10px;
    border: 2px solid #222222;
    border-radius: 30px;
    text-decoration: None;
    background-color: #EEEEEE;
    animation: slideIn 0.2s ease-in forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tab:hover {
    background-color: #9cdcff;
}

.activeTab {
    background-color: #9cdcff;
}

.contentProvider, .home {
    width: 100%;
    position: absolute;
    top: 80px;
    max-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.home-description {
    flex: 0 0 200px;
    font-size: 22px;
    text-align: center;
    padding: 50px 150px;
}

.navArea {
    flex: 0 0 100px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
    padding: 20px;
}

.nav {
    font-family: "Ubuntu Mono", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 30px;
    border: 3px solid #222222;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav:hover {
    filter: drop-shadow(2px 2px 1px #555555);
    transition: transform 0.15s ease-in;
    transform: scale(120%);
}

.nav img, .activeNav img {
    background-color: transparent;
}

#bubble-sort {
    background-color: #ffe671;
}

#insertion-sort {
    background-color: #78ffa9;
}

#selection-sort {
    background-color: #6bb7ff;
}

#quick-sort {
    background-color: #9cdcff;
}

#merge-sort {
    background-color: #ff8eb3;
}

#heap-sort {
    background-color: #ffdcd5;
}

.description {
    width: 100%;
    flex: 0 0 150px;
    padding: 40px 220px;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    color: #222222;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.title {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

.inputArea {
    width: 100%;
    flex: 0 0 150px;
    padding: 30px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reduceButton {
    flex: 0 0 50px;
    position: fixed;
    left: 200px;
}

.addButton {
    flex: 0 0 50px;
    position: fixed;
    right: 200px;
}

.reduceButton:hover, .addButton:hover {
    animation: jump 0.3s ease-in;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.inputs {
    flex: 0 0 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 35px;
    margin: 0 10px 0 10px;
    border-bottom: 2px solid #222222;
}

.startSortingButton {
    font-size: 15px;
    font-weight: bold;
    border: 3px solid #222222;
    border-radius: 20px;
    background-color: #ffe671;
    margin-top: 70px;
    padding: 6px 20px;
}

.startSortingButton:hover {
    filter: drop-shadow(2px 2px 1px #555555);
    transition: transform 0.1s ease-in;
    transform: scale(110%);
}

.logArea {
    flex: 0 0 100px;
    font-size: 22px;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

.animationArea {
    flex: 0 0 150px;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.buttonArea {
    flex: 0 0 120px;
    display: flex;
    gap: 25px;
}

.buttonArea button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonArea img:hover {
    filter: opacity(100%);
}

.buttonArea img {
    filter: opacity(50%);
    height: 22px;
    width: 22px;
}

.square, .activeSquare, .sortedSquare {
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 44px;
    background-color: #EEEEEE;
    border: 3px solid #222222;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeSquare {
    background-color: #ff8eb3;
}

.sortedSquare {
    background-color: #78ffa9;
}

.footer {
    flex: 0 0 50px;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
}

.footer a {
    color: #146bdd;
}

.footer a:hover {
    text-decoration: underline;
}
